<div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand ms-4"  href="/">Rentiranje Vozila</a>
        <div class="container-fluid">
          <ul class="navbar-nav mrs-auto w-100">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">Pocetna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/saloni'" routerLinkActive="active">Saloni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/onama'" routerLinkActive="active">O nama</a>
            </li>
            <ng-container *ngIf="jwtToken==null; else ulogovanTemplate">
              <li class="nav-item ms-auto mt-1" >
                <button class="btn btn-danger btn-sm" (click)="login()">
                  Prijava
                </button>
              </li>
              <li class="nav-item mt-1 ms-2 me-5" >
                <button class="btn btn-danger btn-sm" (click)="registration()">
                 Registracija
                </button>
              </li>
            </ng-container> 
            <ng-template #ulogovanTemplate>
              <ng-container *ngIf="uloga == 'KLIJENT'">
                <li class="nav-item  mt-1" >
                  <button class="btn btn-success btn-sm" (click)="rezervacije()">
                   Rezervacije
                  </button>
                </li>
              </ng-container>
              <ng-container *ngIf="uloga == 'ADMIN'">
                <li class="nav-item  mt-1" >
                  <button class="btn btn-warning btn-sm" (click)="rezervacijeKlijenata()">
                   Rezervacije klijenata
                  </button>
                </li>
                <li class="nav-item  mt-1 ms-2" >
                  <button class="btn btn-warning btn-sm" (click)="recenzijaKlijenata()">
                   Recenzije klijenata
                  </button>
                </li>
                  <li class="nav-item  mt-1 ms-2" >
                  <button class="btn btn-warning btn-sm" (click)="zaposleni()">
                   Zaposleni
                  </button>
                </li>
              </ng-container>
               <ng-container *ngIf="uloga == 'RADNIK'">
                <li class="nav-item  mt-1" >
                  <button class="btn btn-warning btn-sm" (click)="rezervacijeKlijenata()">
                   Rezervacije klijenata
                  </button>
                </li>
              </ng-container>
              <li class="nav-item ms-auto mt-1" >
                <button class="btn btn-danger btn-sm" (click)="odjava()">
                 Odjava
                </button>
              </li>
            </ng-template>
          </ul>
        </div>
      </nav>
</div>
