<div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand ms-4"  href="/">Rentiranje Vozila</a>
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">Pocetna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/saloni'" routerLinkActive="active">Saloni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">O nama</a>
            </li>
          </ul>
        </div>
      </nav>
</div>
