<app-header></app-header>

<div class="container" style="min-height: 80vh;">
    <h1 class="mt-5"> Aktivne rezervacije klijenata</h1>
    <hr>
    <div>
        <table class="table mb-4 table-hover table-border text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Br. rezervacije</th>
                    <th>Klijent</th>
                    <th>Vreme od</th>
                    <th>Vreme do</th>
                    <th>Cena</th>
                    <th>Status</th>
                    <th>Vozilo</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rk of aktivneRezervacije | paginate: { id: 'paginacijaAktivne',itemsPerPage: 3, currentPage: pageAktivne, totalItems: aktivneRezervacije.length}">
                    <td class="align-middle">
                        {{rk.id}}
                    </td>
                    <td class="align-middle">
                        {{rk.korisnik.ime}} {{rk.korisnik.prezime}}, tel: {{rk.korisnik.telefon}}
                    </td>
                    <td class="align-middle">
                        {{rk.vremeOd | date: 'short'}}
                    </td>
                    <td class="align-middle">
                        {{rk.vremeDo | date: 'short'}}
                    </td>
                    <td class="align-middle"> 
                        {{rk.ukupnaCena}} rsd
                    </td>
                    <td class="align-middle">
                        {{rk.statusRezervacije}}
                    </td>
                    <td class="align-middle">
                        <img class="img-fluid" src="/assets/images/{{rk.vozilo.slikeVozila[0].slika}}" alt="Slika nije učitana" style="height: 90px; width: 150px; object-fit: cover;">
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-sm" (click)="openDialog(rk.id,1)" >Otkazi</button>
                        <button class="btn btn-success btn-sm ms-3" (click)="openDialog(rk.id,2)" >Zavrsi</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls #paginacijaAktivne (pageChange)="pageAktivne = $event" id="paginacijaAktivne"></pagination-controls>
    </div>

    <h1 class="mt-5"> Otkazane rezervacije klijenata</h1>
    <hr>
    <div>
        <table class="table mb-4 table-hover table-border text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Br. rezervacije</th>
                    <th>Klijent</th>
                    <th>Vreme od</th>
                    <th>Vreme do</th>
                    <th>Cena</th>
                    <th>Status</th>
                    <th>Vozilo</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rk of otkazaneRezervacije | paginate: { id: 'paginacijaOtkazane',itemsPerPage: 3, currentPage: pageOtkazane, totalItems: otkazaneRezervacije.length}">
                    <td class="align-middle">
                        {{rk.id}}
                    </td>
                    <td class="align-middle">
                        {{rk.korisnik.ime}} {{rk.korisnik.prezime}}, tel: {{rk.korisnik.telefon}}
                    </td>
                    <td class="align-middle">
                        {{rk.vremeOd | date: 'short'}}
                    </td>
                    <td class="align-middle">
                        {{rk.vremeDo | date: 'short'}}
                    </td>
                    <td class="align-middle"> 
                        {{rk.ukupnaCena}} rsd
                    </td>
                    <td class="align-middle">
                        {{rk.statusRezervacije}}
                    </td>
                    <td class="align-middle">
                        <img class="img-fluid" src="/assets/images/{{rk.vozilo.slikeVozila[0].slika}}" alt="Slika nije učitana" style="height: 90px; width: 150px; object-fit: cover;">
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-sm" (click)="openDialog(rk.id,3)">Obrisi</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls #paginacijaOtkazane (pageChange)="pageOtkazane = $event" id="paginacijaOtkazane"></pagination-controls>
    </div>

    <h1 class="mt-5"> Zavrsene rezervacije klijenata</h1>
    <hr>
    <div class="mb-5">
        <table class="table mb-4 table-hover table-border text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Br. rezervacije</th>
                    <th>Klijent</th>
                    <th>Vreme od</th>
                    <th>Vreme do</th>
                    <th>Cena</th>
                    <th>Status</th>
                    <th>Vozilo</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rk of zavrseneRezervacije | paginate: { id: 'paginacijaZavrsene', itemsPerPage: 3, currentPage: pageZavrsene, totalItems: zavrseneRezervacije.length}">
                    <td class="align-middle">
                        {{rk.id}}
                    </td>
                    <td class="align-middle">
                        {{rk.korisnik.ime}} {{rk.korisnik.prezime}}, tel: {{rk.korisnik.telefon}}
                    </td>
                    <td class="align-middle">
                        {{rk.vremeOd | date: 'short'}}
                    </td>
                    <td class="align-middle">
                        {{rk.vremeDo | date: 'short'}}
                    </td>
                    <td class="align-middle"> 
                        {{rk.ukupnaCena}} rsd
                    </td>
                    <td class="align-middle">
                        {{rk.statusRezervacije}}
                    </td>
                    <td class="align-middle">
                        <img class="img-fluid" src="/assets/images/{{rk.vozilo.slikeVozila[0].slika}}" alt="Slika nije učitana" style="height: 90px; width: 150px; object-fit: cover;">
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-sm" (click)="openDialog(rk.id,3)">Obrisi</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls  (pageChange)="pageZavrsene = $event" id="paginacijaZavrsene"></pagination-controls>
    </div>
</div>

<div class="modal fade" [class.show]="showDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'d-block': showDialog}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="flag==1">Otkazivanje rezervacije</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="flag==2">Zavrsavanje rezervacije</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="flag==3">Brisanje rezervacije</h5>
          <button type="button" class="btn-close" (click)="closeDialog()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 class="text-center" *ngIf="flag==1">Da li ste sigurni da zelite da otkazete rezervaciju?</h3>
          <h3 class="text-center" *ngIf="flag==2">Da li ste sigurni da zelite da zavrsite rezervaciju?</h3>
          <h3 class="text-center" *ngIf="flag==3">Da li ste sigurni da zelite da obrisete rezervaciju?</h3>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary ms-auto" (click)="closeDialog()">Odustani</button>
          <button type="button" class="btn btn-danger" *ngIf="flag==1" (click)="otkazi()" >Potvrdi otkazivanje </button>
          <button type="button" class="btn btn-danger" *ngIf="flag==2" (click)="zavrsi()">Potvrdi zavrsavanje </button>
          <button type="button" class="btn btn-danger" *ngIf="flag==3"(click)="obrisi()" >Potvrdi brisanje </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showDialog" class="modal-backdrop fade show"></div>
<app-footer></app-footer>

