<app-header></app-header>

<div class="container" style="min-height: 80vh;">
    <div class="rent">
        <h1>Otkrijte svet vozila</h1>
        <h3>Vasa avantura pocinje ovde. Iznajmite Vase omiljeno vozilo vec danas!</h3>
        <a [routerLink]="'/saloni'" class="btn btn-primary btn-lg">Iznajmite sada</a>
    </div>
    <div class="container mt-5 mb-5">
        <h1 class="text-center text-primary">Koraci Iznajmljivanja Vozila</h1>
        <hr>
        <div class="row mt-4">
            <div class="col-md-4 step">
                <i class="fas fa-eye step-icon"></i>
                <h4>1. Pregled salona</h4>
                <p>Pregled svih trenutno dostupnih salona za iznajmljivanje vozila</p>
            </div>
            <div class="col-md-4 step">
                <i class="fas fa-building step-icon"></i>
                <h4>2. Izaberite Salon</h4>
                <p>Pregledajte dostupne salon i odaberite onaj koje Vam najviše odgovara.</p>
            </div>
            <div class="col-md-4 step">
                <i class="fas fa-eye step-icon"></i>
                <h4>3. Pregled vozila</h4>
                <p>Pogledajte sva dostupna vozila za odabrani salon</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 step">
                <i class="fas fa-car step-icon"></i>
                <h4>4. Izbor vozila</h4>
                <p>Odaberite dostupano vozila koji odgovara Vašim potrebama</p>
            </div>
            <div class="col-md-4 step">
                <i class="fas fa-calendar-alt step-icon"></i>
                <h4>5. Izabor datum</h4>
                <p>Izaberite datum kada želite iznajmite vozilo i popunite sva neophodna polja</p>
            </div>
            <div class="col-md-4 step">
                <i class="fas fa-flag-checkered step-icon"></i>
                <h4>6. Uživajte u Vožnji!</h4>
                <p>Uživajte u vožnji i istraživanju novih mesta!</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

