<app-header></app-header>

<div class="container" style="min-height: 80vh;">
    <h1>Rezervacije</h1>
    <hr>
    <div>
        <table class="table mb-4 table-hover table-border text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Br. rezervacije</th>
                    <th>Vreme od</th>
                    <th>Vreme do</th>
                    <th>Cena</th>
                    <th>Status</th>
                    <th>Vozilo</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<app-footer></app-footer>
