<app-header></app-header>

<div class="container my-5" style="min-height: 80vh;">
  <div class="row">
    <div class="col-md-6">
      <h2 class="display-4">O Nama</h2>
      <p class="lead">
        Dobrodošli na našu stranicu! Mi smo tim posvećen pružanju vrhunskih usluga u oblasti iznajmljivanja vozila.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/assets/back-ground.avif" style="height: 300px; width:500px" alt="Tim" class="img-fluid rounded shadow-lg">
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">
      <h3 class="text-center">Naša Misija</h3>
      <p class="text-center">
        Naša misija je da unapredimo iskustvo naših korisnika kroz inovativne i efikasne rešenja, pružajući im kvalitetne proizvode i usluge koji zadovoljavaju njihove potrebe.
      </p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">
        <h3 class="text-center">Naš Tim</h3>
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="assets/images/th.jpg" style="height: 250px; width: 250px;" alt="Tim član 1" class="rounded-circle img-fluid mb-3">
            <h5>Jelena Ilic</h5>
            <p>Direktor</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="assets/images/OIP.jpg" style="height: 250px; width: 250px;" alt="Tim član 2" class="rounded-circle img-fluid mb-3">
            <h5>Ivona Ivonic</h5>
            <p>Menadžer</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="assets/images/download.jpg" style="height: 250px; width: 250px;" alt="Tim član 3" class="rounded-circle img-fluid mb-3">
            <h5>Aleksandra Aleksic</h5>
            <p>Tehnička Podrška</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row my-5">
      <div class="col-12">
        <h3 class="text-center">Kontaktirajte Nas</h3>
        <p class="text-center">
          Za više informacija, slobodno nas kontaktirajte na <strong><a href="#">info-firma.com </a></strong>ili pozovite na broj <strong>+123 456 789</strong>.
        </p>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>