<app-header></app-header>

<div class="container d-flex p-4 flex-wrap justify-content-around" style="min-height: 80vh;">
    <div class="card mt-3" style="height:450px; width: 350px;" *ngFor="let salon of saloni">
        <img class="card-img-top" src="/assets/images/{{salon.slika}}" alt="Slika nije ucitana" style="height: 215px;">
        <div class="card-body">
            <h4 class="card-title">{{salon.naziv}}</h4>
            <h5 class="card-subtitle mb-2 text-muted">{{salon.telefon}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">{{salon.adresa}}, {{salon.grad}}</h5>
            <hr>
            <p class="card-text">{{salon.opis}}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" (click)="pregledVozila(salon.id)">Pregled vozila</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
