<app-header></app-header>

<div class="container d-flex p-4 flex-wrap justify-content-around" style="min-height: 80vh;">
    <div class="card mt-3" style="height:450px; width: 350px;">
        <img class="card-img-top" src="/assets/images/jahta_1.jpeg" alt="Slika nije ucitana" style="height: 215px;">
        <div class="card-body">
            <h4 class="card-title">Naziv salona</h4>
            <h5 class="card-subtitle mb-2 text-muted">Telefon salona</h5>
            <h5 class="card-subtitle mb-2 text-muted">Adresa i grad salona</h5>
            <hr>
            <p class="card-text">Opis salona</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm">Detaljnije</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
